{% extends "base.html" %}
{% block title %}Visual essays{% endblock %}
{% block content%}
<div id="wrapper">
  <div id="main">
    <h1>Visual essays</h1>
    <p>The forthcoming series of visual essays is an experiment in analyzing Soviet literary journals through explorations of their data. Accompanied by interpretative essays, data visualizations will address among other things the occurrence of textual genres, development of press runs, and movement of editors between periodicals.</p>
    <ul>
      <li>
        <h2>Essay 1</h2>
        <img src="" alt="">
        <p>Description of the essay</p>
        <a href="{{url_for("essay_one")}}">Read full essay</a>
      </li>
      <li>
        <h2>Essay 2</h2>
        <img src="" alt="">
        <p>Description of the essay</p>
        <a href="{{url_for("essay_two")}}">Read full essay</a>
      </li>
      <li>
        <h2>Essay 3</h2>
        <img src="" alt="">
        <p>Description of the essay</p>
        <a href="{{url_for("essay_three")}}">Read full essay</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
