{% extends "base.html" %}
{% block title %}Visual essays{% endblock %}
{% block content%}
<div id="wrapper">
  <div id="main">
    <h1>Visual essays</h1>
    <ul>
      <li>
        <h2>Essay 1</h2>
        <img src="" alt="">
        <p>Description of the essay</p>
        <a href="{{url_for("essay_one")}}">Read full essay</a>
      </li>
      <li>
        <h2>Essay 2</h2>
        <img src="" alt="">
        <p>Description of the essay</p>
        <a href="{{url_for("essay_two")}}">Read full essay</a>
      </li>
      <li>
        <h2>Essay 3</h2>
        <img src="" alt="">
        <p>Description of the essay</p>
        <a href="{{url_for("essay_three")}}">Read full essay</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
