<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %} | Soviet Journals Reconnected</title>
    <link type="text/css" rel="stylesheet" href={{url_for('static', filename='styles/normalize.css')}}/>
    <link type="text/css" rel="stylesheet" href={{url_for('static', filename='styles/main.css')}}/>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&amp;subset=cyrillic" rel="stylesheet">
    <meta name="google-site-verification" content="lARAGNbXWD4ZruyHeOBTriKVwgW3PhSnm84LeSq8G5Y" />
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='styles/gexf-js/gexfjs.css')}} />
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='styles/gexf-js/jquery-ui-1.10.3.custom.min.css')}} />
    {% endblock %}
  </head>
  <body>
    <div id="allcontent">
      <div>
        <a class="header" href={{url_for("home")}}><img src={{url_for('static', filename="images/HeaderGraphic.jpg")}}>
          <h1>Periodical Networks under Late Socialism</h1>
        </a>
        <div id="creators">
          <p> <span class="smallcaps">created by</span>
          <a target="_blank" href="http://www.philipgleissner.com">Philip Gleissner</a>
          </p>
        </div><!-- end creators -->
      </div><!-- end header -->
      <ul id="navbar">
        <li class="nav-field">
          <p {% if request.path == '/' %}class="current-page"{% endif %}>
          <a href={{url_for("home")}} class="smallcaps">Home</a>
          </p>
        </li>
        <li class="nav-field">
          <p {% if request.path == '/journals' %}class="current-page"{% endif %}>
          <a href={{url_for("journals")}} class="smallcaps">The Journals</a>
          </p>
        </li>
        <li class="nav-field">
          <p {% if request.path == '/networks' %}class="current-page"{% endif %}><a  href={{url_for("networks")}} class="smallcaps">Networks</a></p>
        </li>
        <li class="nav-field">
          <p {% if '/visual-essays/' in request.path %}class="current-page"{% endif %}>
          <a href='#' id='visual-essays' class="smallcaps">Visual Essays</a>
          </p>
          <ul id="sub-nav" class="sub-nav">
            <li class="sub-nav-field">
              <p><a href={{url_for("essays_overview")}} class="smallcaps subnav-link">Overview</a></p>
            </li>
            <li class="sub-nav-field">
              <p><a href={{url_for("essay_one")}} class="smallcaps subnav-link">Essay 1</a></p>
            </li>
            <li class="sub-nav-field">
              <p><a href={{url_for("essay_two")}} class="smallcaps subnav-link">Essay 2</a></p>
            </li>
            <li class="sub-nav-field">
              <p><a href={{url_for("essay_three")}} class="smallcaps subnav-link">Essay 3</a></p>
            </li>
          </ul>
        </li>
        <li class="nav-field">
          <p {% if request.path == '/visualizations/database' %}class="current-page"{% endif %}>
          <a href={{url_for("database")}} class="smallcaps">Database</a>
          </p>
        </li>
        <li class="nav-field">
          <p>
          <a target="_blank" href="http://philipgleissner.com/category/sjr/" class="smallcaps">Blog</a>
          </p>
        </li>
      </ul>
      <div id="content">
        {% block content%}
        {% endblock %}
      </div>

      <div id="footer">
        <div id="credits">
        <p>Developed and built by <a target="_blank" href="https://philipgleissner.com">Philip Gleissner</a> at the Center for Digital Humnaities at Princeton University. Data and code are licensed under a <a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/3.0/Creative">Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License.</a> More information on the <a href={{url_for("acknowledgements")}}>Acknowledgements Page</a>.</p>
      </div>
        <p><em>Soviet Journals Reconnected: Periodical Networks under Late Socialism</em></p>
        <div id="footer_credits">
          <a target="_blank" href="http://cdh.princeton.edu"><img src={{url_for('static', filename="images/cdh_logo.png")}} title="Center for Digital Humanities at Princeton"></a>
        </div>
      </div><!-- end footer -->
    </div><!-- end allcontent -->
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
  </body>
</html>
