{% extends "base.html" %}
{% block title %}Blog{% endblock %}
{% block content%}
<div id="wrapper">
  <div id="main">
    <p>Soviet Journals Reconnected is an ongoing project. Database and website development are still in process and I am continuing to expand my dataset. Read more about some of the technical and logistical challenges, my experiences in digital humanities, and ideas about Soviet periodical studies on <a target="_blank" href="http://philipgleissner.com/category/sjr/" alt="Link to the Soviet Journals Reconnected Blog">my blog</a>.</a></p>
  </div>
</div>
{% endblock %}
