{% extends "base.html"%}
{% block title %}Welcome{% endblock %}
{% block content%}
	    	<div id="wrapper">
	    		<div id="main">
		    		<p><img src={{url_for('static', filename="images/Iunost_1970_06.jpg")}} style="float:left;width:209px;height:263px;" hspace="20">Literary monthlies, the so-called thick journals, were a corner stone of Soviet culture. <em>Soviet Journals Reconnected</em> explores the social dimension of the periodicals. The project traces the emergence of segmented artistic and political communities in the 1960s and 1970s in their data, showing how social organization determined aesthetic and literary taste.</p>  
		    		<p>Soviet Journals Reconnected consists of four components: an introduction to the central literary periodicals of the late Soviet era, interactive network visualizations of authors published in the journals, a series of visual essays and a technical documentation of the SJR database.</p>

				</div><!-- end main -->
			</div><!-- end wrapper -->
{% endblock %}
