{% extends "base.html"%}
{% block title %}Welcome{% endblock %}
{% block content%}
	    	<div id="wrapper">
	    		<div id="main">
		    		<p><img src={{url_for('static', filename="images/Iunost_1970_06.jpg")}} style="float:left;width:209px;height:263px;" hspace="20">Thick journals, monthlies dedicated to literature, art, society, and politics, were a corner stone of Soviet culture. In the 1960s and 1970s, their readership was in the millions; thousands of authors were published on their pages. Soviet Journals Reconnected explores the rich life of these periodicals through their bibliographical data. It traces the work of editorial offices, development of themes and genres in the journals, and the emergence of segmented communities of authors around them.</p>  
		    		<p>At the center of Soviet Journals Reconnected stands a database of bibliographical metadata. This online interface is currently being developed and will consist of four components: an introduction to the <a href={{url_for("journals")}}>central literary periodicals</a> of the late Soviet era, <a href={{url_for("networks")}}>interactive network visualizations</a> of authors and editors, a series of <a href={{url_for("essays_overview")}}>visual essays</a>, and a technical documentation of the <a href={{url_for("database")}}>SJR database</a>.</p>
		    		<p>The datasets and the source code of this website are publicly available on <a target="_blank" href="https://github.com/PhilGleissner/soviet_journals" alt="Link to Github Repository">Github</a>.</p>

				</div><!-- end main -->
			</div><!-- end wrapper -->
{% endblock %}
