{% extends "base.html" %}
{% block title %}Journals{% endblock %}
{% block content%}
<div id="wrapper">
  <div id="main">
    <ul>
      <li class='journal'>
        <section>
        <div class='rotisserie rotisserie1 clearfix'>
          <div class='rotisserie-back rotisserie1-back'>
            <div class='left-arrow'></div>
          </div>
          <ul class='journal-covers'>
            <li class='journal-cover journal-cover1 show'>
              <img class='journal-cover-img' src="{{url_for('static', filename='images/journal_covers/iunost.png')}}" alt="Magazine cover">
            </li>
            <li class='journal-cover journal-cover1'>
              <img class='journal-cover-img' src="{{url_for('static', filename='images/journal_covers/iunost2.png')}}" alt="Magazine cover">
            </li>
          </ul>
          <div class='rotisserie-next rotisserie1-next'>
            <div class='right-arrow'></div>
          </div>
        </div>
          <h3>Юность | Iunost' | Youth</h3>
          <p>
          In 1955, Valentin Kataev, renowned Soviet writer and Stalin Prize laureate, invested his prestige into the project of a periodical that became one of the most successful publications of the late socialist period with press runs of up to two million issues.
          With its colorful layouts, illustrations, and cover designs, <i>Iunost'</i> merged the aesthetic of illustrated magazines with serious literary content.
          Featuring in its first years, novel literary works, such as the first Russian translations of Thor Heyerdahls Kon-Tiki, as well as novels, poetry, and non-fiction, the magazine reached interested readers far beyond its original intended audience: students in their final years of school and first years of university.
          The cohort of young writers gathered around <i>Iunost'</i> became later known as the shestidesiatniki, the generation of the 1960s.
          Surrounded by an aura of glamor and youthfulness, these authors showed the struggles of young literary heroes to fit in with socialist culture and introduced Western themes - Jazz, abstract art and fashion both in their texts and in their own lives.
          The visual essay Flows and Continuities in the Editorial Office discusses the how the identity of <i>Iunost'</i> may have survived their departure after the end of the Thaw in the early 1960s.
          </p>
        </section>
      </li>
      <li class='journal'>
        <section>
        <div class='rotisserie rotisserie2 clearfix'>
          <div class='rotisserie-back rotisserie2-back'>
            <div class='left-arrow'></div>
          </div>
          <ul class='journal-covers'>
            <li class='journal-cover journal-cover2 show'>
              <img class='journal-cover-img' src="{{url_for('static', filename='images/journal_covers/mg1.png')}}" alt="Magazine cover">
            </li>
            <li class='journal-cover journal-cover2'>
              <img class='journal-cover-img' src="{{url_for('static', filename='images/journal_covers/mg3.png')}}" alt="Magazine cover">
            </li>
            <li class='journal-cover journal-cover2'>
              <img class='journal-cover-img' src="{{url_for('static', filename='images/journal_covers/mg4.png')}}" alt="Magazine cover">
            </li>
            <li class='journal-cover journal-cover2'>
              <img class='journal-cover-img' src="{{url_for('static', filename='images/journal_covers/mg5.png')}}" alt="Magazine cover">
            </li>
          </ul>
          <div class='rotisserie-next rotisserie2-next'>
            <div class='right-arrow'></div>
          </div>
        </div>
          <h3>Молодая гвардия | Molodaia gvardiia | The Young Guard</h3>
          <p>
          The journal Molodaia gvardiia was originally founded in 1922. Institutionally a subordinate of the Russian Communist Union of the Youth (later Komsomol), it was envisioned as a journal for young readers. During WWII, the periodical seized and returned only in 1948, first as a literary almanac and as a monthly in 1956. Molodaia gvardiia remained a part of the Komsomol organization, unlike the other journals featured in Soviet Journals Reconnected. From there stems also its adversary position toward the Writers Union-run publication Iunost’, with which it competed for authors and audiences. The visual essay “Competing 'Youth' Literatures?” traces this competition.
          </p>
        </section>
      </li>
      <li class='journal'>
        <section>
        <div class='rotisserie rotisserie3 clearfix'>
          <div class='rotisserie-back rotisserie3-back'>
            <div class='left-arrow'></div>
          </div>
          <ul class='journal-covers'>
            <li class='journal-cover journal-cover3 show'>
              <img class='journal-cover-img' src="{{url_for('static', filename='images/journal_covers/ns1.png')}}" alt="Magazine cover">
            </li>
            <li class='journal-cover journal-cover3'>
              <img class='journal-cover-img' src="{{url_for('static', filename='images/journal_covers/ns2.png')}}" alt="Magazine cover">
            </li>
          </ul>
          <div class='rotisserie-next rotisserie3-next'>
            <div class='right-arrow'></div>
          </div>
        </div>
          <h3>Наш современник | Nash sovremennik | Our Contemporary</h3>
          <p>
          Nash sovremennik had been published since 1933, but it was in many ways a newcomer to the stage of the Moscow-based periodicals of the 1960s. For a long time it came out as an annual almanac, before undergoing a rather slow transformation into an influential journal that provided a forum for the authors of the so-called Village Prose and voices closer to the nationalistic side of the late socialist ideological spectrum. In 1957 and 1958 respectively, Boris Zubavin replaced Viktor Poltoratskii as chief editor. The publication frequency expanded from quarterly to bimonthly in 1953 and finally to monthly in 1964. These institutional changes prepared the conditions for the editorship of Sergei Vikulov, the impact of which can be traced in the SJR-data, specifically in the changed position of Nash sovremennik’s editors, which is discussed in the visual essay “Chief Editors as Migration Officers.”
          </p>
        </section>
      </li>
      <li class='journal'>
        <section>
        <div class='rotisserie rotisserie4 clearfix'>
          <div class='rotisserie-back rotisserie4-back'>
            <div class='left-arrow'></div>
          </div>
          <ul class='journal-covers'>
            <li class='journal-cover show journal-cover4'>
              <img class='journal-cover-img' src="{{url_for('static', filename='images/journal_covers/nm1.png')}}" alt="Magazine cover">
            </li>
            <li class='journal-cover journal-cover4'>
              <img class='journal-cover-img' src="{{url_for('static', filename='images/journal_covers/nm2.png')}}" alt="Magazine cover">
            </li>
          </ul>
          <div class='rotisserie-next rotisserie4-next'>
            <div class='right-arrow'></div>
          </div>
        </div>
          <h3>Новый мир | Novyi mir | New World</h3>
          <p>
          Novyi mir became the possibly the most renowned thick journal of the 1960s. Since its first year of existence in 1925, when it was run by Anatoly Lunacharsky, People’s Commissar of Education, the periodical has at several times been influential both politically as well as in the formation of Soviet literature. Under the editorship of Aleksandr Tvardovsky (, the name of Novyi mir became nearly synonymous with the culture of the Khrushchev Thaw, publishing seminal texts like the memoirs of Ilya Ehrenburg or Alexander Solzhenitsyn’s prison camp novella “One Day in the Life of Ivan Denisovich.” The visual essay “The World of Novyi mir” shows the extent to which the periodical was engaging with the rest of the world through translation. Novyi mir is published monthly to this day in the same editorial offices as it was in the 1960s.
          </p>
        </section>
      </li>
      <li class='journal'>
        <section>
        <div class='rotisserie rotisserie5 clearfix'>
          <div class='rotisserie-back rotisserie5-back'>
            <div class='left-arrow'></div>
          </div>
          <ul class='journal-covers'>
            <li class='journal-cover journal-cover5 show'>
              <img class='journal-cover-img' src="{{url_for('static', filename='images/journal_covers/okt1.png')}}" alt="Magazine cover">
            </li>
            <li class='journal-cover journal-cover5'>
              <img class='journal-cover-img' src="{{url_for('static', filename='images/journal_covers/okt2.png')}}" alt="Magazine cover">
            </li>
            <li class='journal-cover journal-cover5'>
              <img class='journal-cover-img' src="{{url_for('static', filename='images/journal_covers/okt3.png')}}" alt="Magazine cover">
            </li>
          </ul>
          <div class='rotisserie-next rotisserie5-next'>
            <div class='right-arrow'></div>
          </div>
        </div>
          <h3>Октябрь | Oktiabr’ | October</h3>
          <p>
          150 Words about Oktiabr. Deutsches Ipsum Dolor sit amet, Projektplanung adipiscing elit, sed do eiusmod Fernweh incididunt ut labore et dolore Goethe aliqua. Ut enim ad minim Lebkuchen quis nostrud exercitation ullamco laboris Fussballweltmeisterschaft ut aliquip ex ea commodo Ich bin ein Berliner Duis aute irure dolor in Lebensabschnittsgefahrte in voluptate velit esse cillum genau eu fugiat nulla pariatur. Excepteur Bretzel occaecat cupidatat non proident, sunt Kreuzberg culpa qui officia deserunt mollit Zauberer id est laborum. Am End ein Link zu einem der Visualen Essays in Visual Essays.lorem ipsum.
          </p>
        </section>
      </li>
      <!--<li class='journal'>-->
        <!--<section>-->
        <!--<div class='rotisserie rotisserie6 clearfix'>-->
          <!--<div class='rotisserie-back rotisserie6-back'>-->
            <!--<div class='left-arrow'></div>-->
          <!--</div>-->
          <!--<ul class='journal-covers'>-->
            <!--<li class='journal-cover journal-cover6 show'>-->
              <!--<img class='journal-cover-img' src="{{url_for('static', filename='images/journal_covers/iunost.png')}}" alt="Magazine cover">-->
            <!--</li>-->
            <!--<li class='journal-cover journal-cover6'>-->
              <!--<img class='journal-cover-img' src="{{url_for('static', filename='images/journal_covers/iunost2.png')}}" alt="Magazine cover">-->
            <!--</li>-->
          <!--</ul>-->
          <!--<div class='rotisserie-next rotisserie6-next'>-->
            <!--<div class='right-arrow'></div>-->
          <!--</div>-->
        <!--</div>-->
          <!--<h3>Знамя | Znamia | The Banner</h3>-->
          <!--<p>-->
          <!--150 words about Znamia. Deutsches Ipsum Dolor sit amet, Projektplanung adipiscing elit, sed do eiusmod Fernweh incididunt ut labore et dolore Goethe aliqua. Ut enim ad minim Lebkuchen quis nostrud exercitation ullamco laboris Fussballweltmeisterschaft ut aliquip ex ea commodo Ich bin ein Berliner Duis aute irure dolor in Lebensabschnittsgefahrte in voluptate velit esse cillum genau eu fugiat nulla pariatur. Excepteur Bretzel occaecat cupidatat non proident, sunt Kreuzberg culpa qui officia deserunt mollit Zauberer id est laborum. Am End ein Link zu einem der Visualen Essays in Visual Essays.lorem ipsum.-->
          <!--</p>-->
        <!--</section>-->
      <!--</li>-->
    </ul>
  </div>
</div>
{% endblock %}
