{% extends "base.html" %}
{% block title %}Journals{% endblock %}
{% block content%}
<div id="wrapper">
  <div id="main">
    <h1>Journals</h1>
    <ul>
      <li class='journal'>
        <div class='journal-covers'>
          <img class='journal-cover' src="{{url_for('static', filename='images/journal_covers/iunost.png')}}" alt="Magazine cover">
          <img class='journal-cover' src="{{url_for('static', filename='images/journal_covers/iunost2.png')}}" alt="Magazine cover">
          <img class='journal-cover' src="{{url_for('static', filename='images/journal_covers/iunost3.png')}}" alt="Magazine cover">
        </div>
        <section>
          <h3>Iunost'</h3>
          <p>
          In 1955, Valentin Kataev, renowned Soviet writer and Stalin Prize laureate, invested his prestige into the project of a periodical that became one of the most successful publications of the late socialist period with press runs of up to two million issues.
          With its colorful layouts, illustrations, and cover designs, <i>Iunost'</i> merged the aesthetic of illustrated magazines with serious literary content.
          Featuring in its first years, novel literary works, such as the first Russian translations of Thor Heyerdahls Kon-Tiki, as well as novels, poetry, and non-fiction, the magazine reached interested readers far beyond its original intended audience: students in their final years of school and first years of university.
          The cohort of young writers gathered around <i>Iunost'</i> became later known as the shestidesiatniki, the generation of the 1960s.
          Surrounded by an aura of glamor and youthfulness, these authors showed the struggles of young literary heroes to fit in with socialist culture and introduced Western themes - Jazz, abstract art and fashion both in their texts and in their own lives.
          The visual essay Flows and Continuities in the Editorial Office discusses the how the identity of <i>Iunost'</i> may have survived their departure after the end of the Thaw in the early 1960s.
          </p>
        </section>
      </li>
      <li class='journal'>
        <div class='journal-covers'>
          <img class='journal-cover' src="{{url_for('static', filename='images/journal_covers/iunost.png')}}" alt="Magazine cover">
          <img class='journal-cover' src="{{url_for('static', filename='images/journal_covers/iunost2.png')}}" alt="Magazine cover">
          <img class='journal-cover' src="{{url_for('static', filename='images/journal_covers/iunost3.png')}}" alt="Magazine cover">
        </div>
        <section>
          <h3>iMolodaia gvardiia</h3>
          <p>
          Ein 150 Wort Text uber die Zeitschrift mit allgemeinen Infos. Deutsches Ipsum Dolor sit amet, Projektplanung adipiscing elit, sed do eiusmod Fernweh incididunt ut labore et dolore Goethe aliqua. Ut enim ad minim Lebkuchen quis nostrud exercitation ullamco laboris Fussballweltmeisterschaft ut aliquip ex ea commodo Ich bin ein Berliner Duis aute irure dolor in Lebensabschnittsgefahrte in voluptate velit esse cillum genau eu fugiat nulla pariatur. Excepteur Bretzel occaecat cupidatat non proident, sunt Kreuzberg culpa qui officia deserunt mollit Zauberer id est laborum. Am End ein Link zu einem der Visualen Essays in Visual Essays.lorem ipsum.
          </p>
        </section>
      </li>
      <li class='journal'>
        <div class='journal-covers'>
          <img class='journal-cover' src="{{url_for('static', filename='images/journal_covers/iunost.png')}}" alt="Magazine cover">
          <img class='journal-cover' src="{{url_for('static', filename='images/journal_covers/iunost2.png')}}" alt="Magazine cover">
          <img class='journal-cover' src="{{url_for('static', filename='images/journal_covers/iunost3.png')}}" alt="Magazine cover">
        </div>
        <section>
          <h3>Nash sovremennik</h3>
          <p>
          Ein 150 Wort Text uber die Zeitschrift mit allgemeinen Infos. Deutsches Ipsum Dolor sit amet, Projektplanung adipiscing elit, sed do eiusmod Fernweh incididunt ut labore et dolore Goethe aliqua. Ut enim ad minim Lebkuchen quis nostrud exercitation ullamco laboris Fussballweltmeisterschaft ut aliquip ex ea commodo Ich bin ein Berliner Duis aute irure dolor in Lebensabschnittsgefahrte in voluptate velit esse cillum genau eu fugiat nulla pariatur. Excepteur Bretzel occaecat cupidatat non proident, sunt Kreuzberg culpa qui officia deserunt mollit Zauberer id est laborum. Am End ein Link zu einem der Visualen Essays in Visual Essays.lorem ipsum.
          </p>
        </section>
      </li>
      <li class='journal'>
        <div class='journal-covers'>
          <img class='journal-cover' src="{{url_for('static', filename='images/journal_covers/iunost.png')}}" alt="Magazine cover">
          <img class='journal-cover' src="{{url_for('static', filename='images/journal_covers/iunost2.png')}}" alt="Magazine cover">
          <img class='journal-cover' src="{{url_for('static', filename='images/journal_covers/iunost3.png')}}" alt="Magazine cover">
        </div>
        <section>
          <h3>Novyi mir</h3>
          <p>
          Ein 150 Wort Text uber die Zeitschrift mit allgemeinen Infos. Deutsches Ipsum Dolor sit amet, Projektplanung adipiscing elit, sed do eiusmod Fernweh incididunt ut labore et dolore Goethe aliqua. Ut enim ad minim Lebkuchen quis nostrud exercitation ullamco laboris Fussballweltmeisterschaft ut aliquip ex ea commodo Ich bin ein Berliner Duis aute irure dolor in Lebensabschnittsgefahrte in voluptate velit esse cillum genau eu fugiat nulla pariatur. Excepteur Bretzel occaecat cupidatat non proident, sunt Kreuzberg culpa qui officia deserunt mollit Zauberer id est laborum. Am End ein Link zu einem der Visualen Essays in Visual Essays.lorem ipsum.
          </p>
        </section>
      </li>
      <li class='journal'>
        <div class='journal-covers'>
          <img class='journal-cover' src="{{url_for('static', filename='images/journal_covers/iunost.png')}}" alt="Magazine cover">
          <img class='journal-cover' src="{{url_for('static', filename='images/journal_covers/iunost2.png')}}" alt="Magazine cover">
          <img class='journal-cover' src="{{url_for('static', filename='images/journal_covers/iunost3.png')}}" alt="Magazine cover">
        </div>
        <section>
          <h3>Oktiabr</h3>
          <p>
          Ein 150 Wort Text uber die Zeitschrift mit allgemeinen Infos. Deutsches Ipsum Dolor sit amet, Projektplanung adipiscing elit, sed do eiusmod Fernweh incididunt ut labore et dolore Goethe aliqua. Ut enim ad minim Lebkuchen quis nostrud exercitation ullamco laboris Fussballweltmeisterschaft ut aliquip ex ea commodo Ich bin ein Berliner Duis aute irure dolor in Lebensabschnittsgefahrte in voluptate velit esse cillum genau eu fugiat nulla pariatur. Excepteur Bretzel occaecat cupidatat non proident, sunt Kreuzberg culpa qui officia deserunt mollit Zauberer id est laborum. Am End ein Link zu einem der Visualen Essays in Visual Essays.lorem ipsum.
          </p>
        </section>
      </li>
      <li class='journal'>
        <div class='journal-covers'>
          <img class='journal-cover' src="{{url_for('static', filename='images/journal_covers/iunost.png')}}" alt="Magazine cover">
          <img class='journal-cover' src="{{url_for('static', filename='images/journal_covers/iunost2.png')}}" alt="Magazine cover">
          <img class='journal-cover' src="{{url_for('static', filename='images/journal_covers/iunost3.png')}}" alt="Magazine cover">
        </div>
        <section>
          <h3>Znamia</h3>
          <p>
          Ein 150 Wort Text uber die Zeitschrift mit allgemeinen Infos. Deutsches Ipsum Dolor sit amet, Projektplanung adipiscing elit, sed do eiusmod Fernweh incididunt ut labore et dolore Goethe aliqua. Ut enim ad minim Lebkuchen quis nostrud exercitation ullamco laboris Fussballweltmeisterschaft ut aliquip ex ea commodo Ich bin ein Berliner Duis aute irure dolor in Lebensabschnittsgefahrte in voluptate velit esse cillum genau eu fugiat nulla pariatur. Excepteur Bretzel occaecat cupidatat non proident, sunt Kreuzberg culpa qui officia deserunt mollit Zauberer id est laborum. Am End ein Link zu einem der Visualen Essays in Visual Essays.lorem ipsum.
          </p>
        </section>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
