#allcontent {
  width: 900px;
  margin: 0 auto;
  padding: 0 30px;
  border-left: thin dotted;
  border-right: thin dotted;
}

#map {
  height: 1000px;
}

#circles circle {
  fill: steelblue;
  stroke: darkblue;
  stroke-width: 1px;
  padding: 2px;
  fill-opacity: .8;
  z-index: 10;

}

h1 {
  color: #333;
}

a {
  color: #333;
  font-weight: bold;
  text-decoration:none;
}

button {
  font-family: Helvetica, Arial, sans-serif;
  font-size: .6em;
  color: #333;
  padding: 5px;
  background-color: #eee;
  -moz-border-radius:10px;
  border-radius: 10px;
}

#searchedBox {
  height: 200px;
  width:300px;
  overflow:scroll;
  float:left;
  padding-left: 10px;
}

#slider_buttons_div {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: darkblue;
  top:50%;
  position: fixed;
  height: 120px;
  width: 260;
  z-index: 100;
  right: 5%;
}

#slider {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: darkblue;
  top:65%;
  position: fixed;
  z-index: 100;
  right: 5%;
  height: 10px;
  width: 260px;
  margin-top: 10px;
}

#labelDiv {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: darkblue;
  top:65%;
  position: fixed;
  z-index: 100;
  right: 5%;
  height: 10px;
  width: 275px;
  margin-top: 10px;
}

.fixedDiv {
  top: 65%;
  left:5%;
  position: fixed;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: darkblue;
  height: 120px;
  width: 300px;
  z-index:100;
}

.searched_box_buttons {
  background:none;
  border:none;
}

#text{
  background-color: white;
  z-index: 1000000;
  position: relative;
}
