body {
	font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  font-size: 16px;
}

#allcontent {
	width: 900px;
	margin: 0 auto;
	padding: 0 30px;
	border-left: thin dotted;
	border-right: thin dotted;
	min-height: 800px;
}

a {
	font-weight: bold;
	color: #666;
	text-decoration: none;
}

h2 {
	color: #333;
	margin-bottom: 0;
	font-style: italic;
}

#creators {
	margin-top: -40px;
	text-align: right;
}

.smallcaps {
	font-variant: small-caps;
}

.notebene {
	font-weight: bold;
	color: #333;
}

#navbar {
  display: flex;
	margin: 0 auto;
	padding: 30px;
	min-height: 50px;
}

.nav-field {
  list-style: none;
  width: 150px;
	text-align: center;
	margin: 0 auto;
	border-left: thin dotted;
	border-bottom: thin dotted;
  border-top: thin dotted;
	min-height: 50px;
	height: 50px;
}

.nav-field:last-child {
	border-right: thin dotted;
}

.nav-field a {
  font-weight: normal;
  font-size: 1.2em;
}

.current-page a {
  font-weight: bold;
}

.sub-nav-field {
  list-style: none;
}

.sub-nav.active{
  display: block;
}

.sub-nav {
  display: none;
}

#wrapper {
	border-top: thin dotted;
}

#main {
	width: 900px;
	float: right;
	font-size: 1.4em;
}

#credits {
	border-top: thin dotted;
	clear: both;
}

#credits table {
	margin: 0 auto;
}

#credits table td{
	padding: 30px;
}

p.caption {
	font-size: .9em;
	font-weight: bold;
	color: #333;
	margin-top: -5px;
	padding: 5px;
	width: 200px;
	line-height: .95em;
	background-color: #eee;
}

#footer {
	border-top: thin dotted;
}

#footer p {
	float: left;
}

#footer_credits {
	float: right;
	padding-top: 10px;
}
